.box {
  width: 16.66%;
  height: 100%;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, .1);
  transition: all .25s ease-in-out;

  &--red {
    background: $red;
  }

  &--blue {
    background: $blue;
  }

  &--green {
    background: $green;
  }

  &--navy {
    background: $navy;
  }

  &--yellow {
    background: $yellow;
  }

  &--orange {
    background: $orange;
  }

  &--active {
    transform: rotateZ(3deg) scale(.975);
  }
}