.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 8%;
  width: 50%;
  padding: 2rem;
  color: $white;
  background: $purple;
  cursor: pointer;
  border: 0;
  border-radius: .75rem;
  transform: translateX(-50%);
  transition: all .225s ease;
  font-size: $font-size-h1;
  box-shadow: 0px 2px 30px 0px rgba(68, 74, 87, .35);

  &:hover {
    background: darken($purple, 4%);
  }

  span:last-child {
    color: lighten($purple, 50%);
    font-size: $font-size-regular;
    letter-spacing: 6px;
  }

  p {
    margin-bottom: 0;
  }
}